<nav class="page-test-nav">
  <ul class="page-test-header"> <!-- ul(unorder list) : 순서가 없는 list -->
    <li>강의</li>
    <li>과제</li>
    <li>질문</li>
    <li>게시판</li>
    <li>놀이터</li>
    <li>아이디어톤</li>
  </ul>
</nav>

<hr>

<form action="">
  <div class="selection">
    <span>관심음식 :</span> <!-- params[:like_food]=value 이런식으로 controller에서 데이터값을 가져옴 -->
    <div class="like-food-select">
      <select name="like_food" id="">
        <option value="yupduck">떡볶이 최고야</option>
        <option value="pizza">피자가 최고야</option>
        <option value="gobchang">곱창이 최고야</option>

      </select>
    </div>
  </div>
</form>
